[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
roles_path = roles
collections_path = collections
retry_files_enabled = False
deprecation_warnings = True
forks = 5
# Use yaml stdout if community.general is installed:
#   ansible-galaxy collection install community.general
#   then add: stdout_callback = community.general.yaml

[ssh_connection]
pipelining = True
